GUIX_PROFILE=target/profiles/guix
if [ -f $GUIX_PROFILE/etc/profile ]; then source $GUIX_PROFILE/etc/profile; fi

passw() {
  pass $1 | if [ -z $2 ]; then head -n1; else awk -v entry=$2 '$0 ~ entry {$1=""; print $0}' | cut -c2-; fi
}

export DOMAIN=$(passw dev/gandi domain)
export TUBO_HOST=$(passw host/cygnus tubo)
export USERNAME=$(passw mail/personal username)
export TIMEZONE=$(passw host/lyra timezone)
export CYGNUS_HOST=$(passw host/cygnus host)
export CYGNUS_SYNAPSE_SHARED_SECRET=$(passw chat/matrix.conses.eu cygnus-synapse-shared-secret)
export CYGNUS_SYNAPSE_SECRET_KEY=$(passw chat/matrix.conses.eu cygnus-synapse-secret-key)
export CYGNUS_SYNAPSE_DB_PASSWORD=$(passw chat/matrix.conses.eu cygnus-synapse-db-password)
export CYGNUS_MAUTRIX_WHATSAPP_DB_PASSWORD=$(passw chat/matrix.conses.eu cygnus-mautrix-whatsapp-db-password)
export HYDRI_HOST=$(passw host/hydri host)
export SOURCEHUT_EMAIL=$(passw vc/sourcehut email)
export GITHUB_USER=$(passw vc/github nick)
export GITHUB_EMAIL=$(passw vc/github email)
export MATRIX_USER=$(passw chat/matrix.conses.eu username)
export MAIL_PERSONAL_EMAIL=$(passw mail/personal email)
export MAIL_PERSONAL_HOST=$(passw mail/personal host)
export MAIL_PERSONAL_FULLNAME=$(passw mail/personal fullname)
export MAIL_PERSONAL_PASSWORD=$(passw mail/personal)
export IRC_BOUNCER_NICK=$(passw chat/chat.sr.ht username)
export IRC_LIBERA_NICK=$(passw chat/irc.libera.chat username)
export IRC_OFTC_NICK=$(passw chat/irc.oftc.net username)
export SLACK_WORKSPACE=$(passw chat/slack workspace)
export SLACK_NICK=$(passw chat/slack username)
