GUIX_PROFILE=target/profiles/guix
if [ -f $GUIX_PROFILE/etc/profile ]; then source $GUIX_PROFILE/etc/profile; fi

passw() {
  pass $1 | if [ -z $2 ]; then head -n1; else awk -v entry=$2 '$0 ~ entry {$1=""; print $0}' | cut -c2-; fi
}

export CYGNUS_HOST=$(passw hosts/cygnus host)
export CYGNUS_SYNAPSE_SHARED_SECRET=$(passw chat/matrix.conses.eu cygnus-synapse-shared-secret)
export CYGNUS_SYNAPSE_SECRET_KEY=$(passw chat/matrix.conses.eu cygnus-synapse-secret-key)
export CYGNUS_SYNAPSE_DB_PASSWORD=$(passw chat/matrix.conses.eu cygnus-synapse-db-password)
export CYGNUS_MAUTRIX_WHATSAPP_DB_PASSWORD=$(passw chat/matrix.conses.eu cygnus-mautrix-whatsapp-db-password)
export AURIGA_HOST=$(passw hosts/auriga host)
export AURIGA_TUBO_HOST=$(passw hosts/auriga tubo)
